@import "tailwindcss";

*{
    /*user-select: none;*/
    box-sizing: border-box;
 
  
  
}


button{cursor: pointer;}
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}
