* {
	box-sizing: border-box;
	text-decoration: none;
	user-select: none;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	font-family: "Poppins", sans-serif;
	background: linear-gradient(
		140deg,
		rgb(255, 255, 255) 50%,
		rgba(4, 63, 224, 0.315) 100%
	);
}
body {
	display: flex;
	flex-direction: column;
}

header {
	padding: 40px 30px;
	position: relative;
	height: 60px;
	width: 100%;
	color: white;
	font-size: 24px;
	font-weight: bold;

	background: linear-gradient(
		150deg,
		rgb(26, 78, 247) 0%,
		rgba(63, 7, 168, 0.753) 100%
	);

	-webkit-box-shadow: -7px 22px 28px -20px rgba(36, 67, 227, 0.72);
	-moz-box-shadow: -7px 22px 28px -20px rgba(36, 67, 227, 0.72);
	box-shadow: -7px 22px 28px -20px rgba(36, 67, 227, 0.72);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	display: flex;
	align-items: center;
	gap: 12px;
}
.logo {
	width: 38px;
	height: 38px;
}
.name {
	font-size: 1.7rem;
	color: rgb(247, 247, 247);
	white-space: nowrap;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.gradient-text-2 {
	background: linear-gradient(90deg, #000000, #021944);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.gradient-text-3 {
	background: linear-gradient(90deg, #bdbcbc, #ffffff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 1.3rem;
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	align-items: stretch;
	max-width: 650px;
	width: 90%;

	background: rgba(194, 146, 250, 0.233);

	border-radius: 20px;
	padding: 40px 20px;

	box-shadow: 5px 13px 35px -23px rgba(0, 22, 255, 1);
}

.feature-item {
	background-color: white;
	box-shadow: 5px 13px 16px -22px rgba(6, 0, 255, 1);
	border-radius: 14px;
	font-weight: 600;
	font-size: 1.3rem;
	color: rgb(0, 0, 0);
	display: flex;
	gap: 12px;
	transition: all 300ms;
	padding: 0px 20px;
}

.feature-item:hover {
	transform: scale(103%);
	cursor: pointer;
}

.github {
	display: flex;
	align-items: center;
	gap: 10px;

	cursor: pointer;
	transition: all 200ms;
}
.github:hover {
	filter: brightness(90%);
	transform: scale(101%);
}

.chat-widget {
	position: fixed;
	border: none;
	z-index: 999999;
	background: transparent;
	border-radius: 16px;
	bottom: 20px;
	right: 20px;
	width: 600px;
	height: 700px;
}

.logo{
	/* max-height: 25px; */
}
.highlight {
	background: linear-gradient(rgb(27, 23, 248), rgb(148, 150, 253));
	color: white;
	padding: 0 10px;
	border-radius: 4px;
}
.title-text {
	width: 70%;
	text-align: center;
	background: linear-gradient(90deg, #021db3, #01075f);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 2.4rem;
  font-weight: bolder;
}

/* Small screens -> FULLSCREEN widget */
@media (max-width: 768px) {
	header {
		padding: 40px 15px;
	}

  .title-text{

    font-size: 1.6rem;
    width:90%;
  }
	.gradient-text-3 {
		font-size: 0.9rem;
	}
	.features {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
		align-items: stretch;

		background: rgba(194, 146, 250, 0.233);

		border-radius: 20px;
		padding: 40px 10px;

		box-shadow: 5px 13px 35px -23px rgba(0, 22, 255, 1);
	}

	.feature-item {
		justify-content: ce;
		background-color: white;
		box-shadow: 5px 13px 16px -22px rgba(6, 0, 255, 1);
		border-radius: 14px;
		font-weight: 600;
		font-size: 1rem;
		color: rgb(0, 0, 0);
		display: flex;
		gap: 10px;
		transition: all 300ms;
		padding: 0px 20px;
	}

	.chat-widget {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}

	main {
		height: calc(100%-60px);
		justify-content: center;
		align-items: center;
	}
}

#chat-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	backdrop-filter: blur(5px);
}

.github {
	display: flex;

	gap: 5px;
	font-size: 0.8rem;
	cursor: pointer;
	transition: all 200ms;
}
